.page-header {
  padding: 2rem 6rem;
}

@media screen and (min-width: 64em) {
  .main-content {
    padding-right: 4rem;
    margin-left: 10rem;
  }
  
  .category-content {
    float: left;
    padding: 2rem 2rem 2rem 4rem;
    margin: 0 auto;
  }

  .category-content ul {
    width: 140px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media screen and (max-width: 42em) {
  .category-content {
    display: none;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .category-content {
    display: none;
  } 
}
