.page-header {
  padding: 2rem 6rem;
  background-color: #7a1a08;
  background-image: linear-gradient(120deg, #a9150d, #fede00);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.side-content h1,
.side-content h2,
.side-content h3,
.side-content h4,
.side-content h5,
.side-content h6 {
  color: #a9150d;
}

.side-content h1,
.side-content h2,
.side-content h3,
.side-content h4,
.side-content h5,
.side-content h6 {
  font-weight: normal;
  margin: .74rem 0;
}

.meta-content section,
.side-content section {
  margin-bottom: 1.5rem;
}

.side-content h1 {
  font-size: 1.5rem;
}

.meta-content li a,
.side-content li a {
  color: #fff;
  font-size: .8rem;
}

.meta-content li a .container,
.side-content li a .container {
  display: inline-block;
  vertical-align: middle;
}

.meta-content li a .icon,
.side-content li a .icon {
  display: inline-block;
  background: #e39a00;
  padding: 2px 4px;
  border-radius: 4px 0 0 4px;
}

.meta-content li a .label,
.side-content li a .label {
  display: inline-block;
  background: #e39a00;
  padding: 1px 4px 3px 0;
  border-right: #cf8d00 solid 1px;
}

.meta-content li a .counter,
.side-content li a .counter {
  display: inline-block;
  background: #e39a00;
  padding: 1px 5px 3px 4px;
  border-radius: 0 4px 4px 0;
  border-left: #e3aa2e solid 1px;
}

.meta-content li a span,
.side-content li a span {
  opacity: .7
}

.meta-content section,
.meta-content ul {
  display: inline-block;
}

.meta-content .meta {
  display: inline-block;
  position: relative;
  top: .1rem;
  margin-right: .5rem;
  color: #aaa;
  font-size: 1rem;
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: none;
    padding-right: 4rem;
    margin-right: 12rem;
  }
  
  .side-content {
    float: right;
    padding: 2rem 4rem;
    margin: 0 auto;
  }

  .side-content ul {
    width: 10rem;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
  }
}

@media screen and (max-width: 42em) {
  .side-content {
    display: none;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .side-content {
    display: none;
  }
}
