.page-header {
  padding: 2rem 6rem;
  background-color: #7a1a08;
  background-image: linear-gradient(120deg, #a9150d, #fede00);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.side-content h1,
.side-content h2,
.side-content h3,
.side-content h4,
.side-content h5,
.side-content h6 {
  color: #a9150d;
}

.side-content h1,
.side-content h2,
.side-content h3,
.side-content h4,
.side-content h5,
.side-content h6 {
  font-weight: normal;
  margin: .74rem 0;
}

.meta-content {
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eff0f1;
}

.meta-content ul {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}

.meta-content ul,
.meta-content p {
  margin-bottom: 0;
}

.meta-content li {
  display: inline-block;
}

.meta-content li a .container,
.side-content li a .container {
  display: inline-block;
  vertical-align: middle;
}

.meta-content li a .icon,
.side-content li a .icon {
  display: inline-block;
  padding: 2px 4px 2px 0;
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
}

.meta-content li a .label,
.side-content li a .label {
  display: inline-block;
  padding: 1px 4px 3px 0;
  border-width: 1px 0px;
}

.meta-content li a .counter,
.side-content li a .counter {
  display: inline-block;
  padding: 1px 5px 3px 4px;
  border-radius: 0 4px 4px 0;
  border-width: 1px;
}

.meta-content li a,
.side-content li a,
.meta-content p,
.side-content p {
  font-size: .8rem;
}

.meta-content li a,
.meta-content p {
  color: #606c71;
  opacity: .7;
}

.meta-content section,
.meta-content ul {
  display: inline-block;
}

.meta-content .meta {
  position: relative;
  top: .1rem;
}

@media screen and (min-width: 64em) {
  .page-header {
    width: 100%;
    padding: .5rem 6rem;
    text-align: left;
  }

  .page-header .project-name {
    position: relative;
    padding-bottom: .1rem;
    margin-top: -.5rem;
    font-size: 2rem;
  }
  
  .page-header .project-tagline {
    margin: 0;
  }
  
  .main-content {
    max-width: none;
    padding-right: 4rem;
    margin-right: 12rem;
  }
  
  .side-content {
    padding: 2rem 4rem;
    margin: 0 auto;
    float: right;
  }
  
  .side-content section {
    margin-bottom: 1.5rem;
  }

  .side-content h1 {
    font-size: 1.5rem;
  }

  .side-content ul {
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    width: 10rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    width: 100%;
    padding: .5rem 1rem;
    text-align: left;
  }
  
  .page-header .project-tagline {
    margin: 0;
  }
  
  .side-content {
    display: none;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    width: 100%;
    padding: .5rem 4rem;
    text-align: left;
  }
  
  .page-header .project-name {
    position: relative;
    padding-bottom: .1rem;
    margin-top: -.5rem;
    font-size: 2rem;
  }
  
  .page-header .project-tagline {
    margin: 0;
  }
  
  .side-content {
    display: none;
  }
}
