<section class="category-content">
  <h1>Categories</h1>
  <ul>
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
      {% assign c = category[0] %}
      <li><a href="/categories#{{ c }}"><div
        class="container"><div class="icon"><span><i class="fas fa-folder"></i></span></div></div><div
        class="container"><div class="label"><span>{{ c }} ({{ site.categories[c].size }})</span></div></div></a></li>
    {% endfor %}
  </ul>
</section>
