<section class="meta-content">
  <div>
    <section>
      <ul>
        <li><div
          class="container"><div class="icon"><span><i class="fas fa-calendar-alt"></i></span></div></div><div
          class="container"><div class="label"><span>{{ page.date | date: "%Y-%m-%d" }}</span></div></div>
        </li>
      </ul>
    </section>
    <section class="social-content">
      <ul>
        <li><a target="_blank" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"><div
          class="container"><div class="icon"><span><i class="fab fa-twitter"></i></span></div></div><div
          class="container"><div class="label"><span>Tweet</span></div></div></a><script 
          async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
        <li>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="{{ page.url | absolute_url }}" 
            data-layout="button" data-size="small" data-mobile-iframe="false"><a 
            class="fb-xfbml-parse-ignore" target="_blank" 
            href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | uri_escape }}&amp;src=sdkpreparse"><div
            class="container"><div class="icon"><span><i class="fab fa-facebook"></i></span></div></div><div
            class="container"><div class="label"><span>Share</span></div></div></a></div>
        </li>
      </ul>
    </section>
  </div>
  <div>
    <section class="category-content">
      <ul>
        {% assign sorted_categories = page.categories | sort %}
        {% for c in sorted_categories %}
        <li><a href="/categories#{{ c }}"><div
          class="container"><div class="icon"><span><i class="fas fa-folder"></i></span></div></div><div
          class="container"><div class="label"><span>{{ c }}</span></div></div></a></li>
        {% endfor %}
      </ul>
    </section>
    <section class="tag-content">
      <ul>
        {% assign sorted_tags = page.tags | sort %}
        {% for t in sorted_tags %}
        <li><a href="/tags#{{ t }}"><div
          class="container"><div class="icon"><span><i class="fas fa-tag"></i></span></div></div><div
          class="container"><div class="label"><span>{{ t }}</span></div></div></a></li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
