<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/res/site/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/res/site/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/res/site/css/overwrite.css?v=1.8.3">
  <link rel="mask-icon" href="{{ site.baseurl }}/res/site/img/favicon.svg?v=1.0.0" color="#000000">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/res/site/img/favicon.ico?v=1.2.0">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/res/site/img/favicon.ico?v=1.2.0">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/fontawesome/svg-with-js/css/fa-svg-with-js.css">
  <script type="text/javascript" src="{{ site.baseurl }}/res/fontawesome/svg-with-js/js/fontawesome.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/res/fontawesome/svg-with-js/js/fa-solid.min.js"></script>
  {% feed_meta %}
  {% seo %}
</head>
