<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include page-header.html %}
    <section class="side-content">
      {% include content-categories.html %}
      {% include content-tags.html %}
    </section>
    <section class="main-content">
      <article>
        {% include article-header.html %}
        {{ content }}
        {% include article-footer.html %}
      </article>
      {% include page-footer.html %}
    </section>
  </body>
</html>
